/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0a500;
}

/* Hero Section */
.hero {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}

/* About Section */
#about {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

#about h2 {
    font-size: 2rem;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Internship Section */
#internship {
    background-color: #fff;
    padding: 50px 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

#internship h2 {
    font-size: 2rem;
    color: #f0a500;
}

#internship p {
    font-size: 1rem;
    margin-bottom: 20px;
}

#internship img {
    display: block;
    margin: 0 auto;
}

/* Services Section */
#services {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

#services h2 {
    font-size: 2rem;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service h3 {
    font-size: 1.5rem;
    color: #333;
}

.service p {
    font-size: 1rem;
    color: #666;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
